In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [5]:
# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

In [6]:
# Read the mouse data and the study results
mm = pd.read_csv(mouse_metadata_path)
sr = pd.read_csv(study_results_path)

In [7]:
# Combine the data into a single dataset

# Display the data table for preview

# Checking the number of mice.
sr
mm.set_index("Mouse ID")
mm.rename(columns = {"Mouse ID":"MouseID", 'Drug Regimen': "DrugRegimen", "Age_months": "AgeMonths", "Weight (g)": "Weight"}, inplace = True)
sr.rename(columns = {'Mouse ID':'MouseID', 'Tumor Volume (mm3)':'TumorVolume', 'Metastatic Sites':'Metastatic'}, inplace = True)
print(mm.shape)
print(sr.shape)

(249, 5)
(1893, 4)

In [8]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
sr.set_index(["MouseID"])
sr= sr.sort_values(["MouseID","Timepoint"])
sr2= pd.DataFrame(sr.loc[:,"MouseID"])
sr2.set_index("MouseID")
sr2

     MouseID
113     a203
389     a203
598     a203
758     a203
1018    a203
...      ...
1143    z969
1407    z969
1529    z969
1730    z969
1869    z969

[1893 rows x 1 columns]

In [9]:
sr.set_index(["MouseID"])
sr= sr.sort_values(["MouseID","Timepoint"])
sr3=sr.loc[:,["MouseID","TumorVolume"]]
sr3.set_index("MouseID")
sr3

# Optional: Get all the data for the duplicate mouse ID. 
number_of_mice= len(pd.unique(sr["MouseID"]))
number_of_mice

249

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.